<nav class="navbar navbar-expand-sm bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="assets/images/brand.png" width="8%" alt="">
            <a class="navbar-brand"><h2>Math Master</h2></a>
        </div>
        <ul class="nav navbar">
            <li class="nav-item active"><a class="nav-link" href="" routerLink="/dashboard" >Home</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contact us</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>