<div class="container-fluid">
    <div class="card-columns">

            <div class="card col-md-9 offset-md-2 mt-5">
                <a routerLink="/addition">
                    <div class="card-body">
                        <h1 class="text-center text-nowrap">Addition</h1>
                    </div>
                    <img class="card-img-bottom add-img" src="assets/images/abacus.jpg" alt="Card image">
                </a>
            </div>
                
            <div class="card col-md-9 offset-md-8 mt-5">
                <a routerLink="/multiplication">
                    <div class="card-body">
                        <h1 class="text-center">Multiplication</h1>
                    </div>
                    <img class="card-img-bottom multi-img" src="assets/images/multi.jpg" alt="Card image">
                </a>
            </div>

            <div class="card col-md-9 offset-md-1 mt-5">
                <a routerLink="/subtraction">
                    <div class="card-body">
                        <h1 class="text-center">Subtraction</h1>
                    </div>
                    <img class="card-img-bottom sub-img" src="assets/images/subtraction1.jpg" alt="Card image">
                </a>
            </div>
            
            <div class="card col-md-9 offset-md-7 mt-5">
                <a routerLink="/division">
                    <div class="card-body">
                        <h1 class="text-center">Division</h1>
                    </div>
                    <img class="card-img-bottom div-img" src="assets/images/division.jpg" alt="Card image">
                </a>
            </div>
        
            <div class="card col-md-9 mt-5">
                <a routerLink="/randomoperation">
                    <div class="card-body">
                        <h1 class="text-center p-1">Random</h1>
                    </div>
                    <img class="card-img-bottom random-img" src="assets/images/random.jpg" alt="Card image">
                </a>
            </div>
    </div>
</div>
